---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Portuguese page for students.

Seja bem-vindo à página acadêmica da professora Priscylla Silva do IFAL Campus Rio Largo.
Nesta página você irá encontrar diversas informações sobre as disciplinas:
<ul>
<li>Administração de Sistemas Operacionais</li>
<li>Introdução a Redes de Computadores</li>
<li>Gestão e Qualidade de Software</li>
</ul>

Caso você seja um estudante interessado em participar de algum projeto de pesquisa e extensão, quer ser monitor de uma
das disciplinas que ministro, ou está precisando realizar a prática profissional por meio de um TCC, leia os conteúdos
indicados e depois me procure no Campus:


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
